@charset 'utf-8';

:root {
    --color-grey-20: #DEE0E8;
    --color-grey-60: #333333;
    --color-primary: #246BE8;
    --font-size-small: .75rem; /* 12px */
    --font-size-medium: 1.25rem; /* 20px */
    --font-size-large: 1.5rem; /* 24px */
}

/* CSS specific to broadcast-archive (comparible aweber toolkit css classes or styles not found after import) */
.text--size-small {
    font-size: var(--font-size-small);
}
.text--size-medium {
    font-size: var(--font-size-medium);
}
.text--size-large {
    font-size: var(--font-size-large);
}
.text--header-link {
    color: var(--color-grey-60);
    font-size: 1.5rem;
}
.text--header-link:hover {
    color: var(--color-primary);
}
hr {
    border-width: 0 0 1px;
}
header {
    border-bottom: 1px solid var(--color-grey-20);
}
header img {
    max-height: 3rem;
    max-width: 10rem;
}
header .aw-col-xs:first-child:not(:only-child) {
    flex-grow: 20;
}
.subscription-container {
    max-width: 630px;
    width: calc(100% - 4rem);
}
.btn--rss,
.btn--twitter {
    background-color: #e6782b; /* Same color originally used in RSS svg image */
    background-image: url(../images/rss-icon.svg);
    background-position: .5rem center;
    background-repeat: no-repeat;
    background-size: 1.5rem;
    color: #ffffff;
    padding-left: 2.5rem;
}
.btn--twitter {
    background-color: #39a0cd; /* Same color originally used from Twitter svg image */
    background-image: url(../images/twitter-icon.svg);
}
.btn--rss:focus,
.btn--rss:hover {
    background-color: #b75815; /* 25% darker from #e6782b */
}
.btn--twitter:focus,
.btn--twitter:hover {
    background-color: #27799c; /* 25% darker from #39a0cd */
}
.btn--disabled {
    color: #dee0e8;
    cursor: not-allowed;
}
.btn--disabled.btn--white {
    background: #ffffff;
}
